#cookie-btn {



  width: 100%;
  display: block;
  width: 256px;
  height: 256px;

  background: url("../images/pokeball.png") center;
  background-size: 256px 256px;
  cursor: pointer;
  border: none;
  overflow: hidden;
  margin: auto;




  /* animation: rotation 4s infinite linear;
}
@keyframes rotation {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(359deg);
 } */
}

#cookie-btn:active {

  -webkit-animation: bounce .1s infinite alternate;
  -moz-animation: bounce .1s infinite alternate;
  animation: bounce .1s infinite alternate;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.15);
  }
}

@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.15);
  }
}

@keyframes bounce {
  to {
    transform: scale(1.15);
  }
}

#pokebadge {
  display: grid;
}

#badge-btn {
  background: url("../images/badgeBoulder.png") center;
  background-size: 50px 50px;
  width: 100%;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  z-index: 1000;

}

#pokebadge>button {
  grid-area: 1/1;
  place-self: center;
}

.bg-main {

  background-color: #8D7E7E;
  color: white;
}

/* .bg-second {
  background-color: #BEA6A6;
  color: white;
} */

.bg-sub-second {

  background-color: #ECD4D4;
  margin: auto;
}

.x2 {

  background: url("../images/multiply-2.png") transparent center no-repeat;

  width: 50px;
  height: 50px;
  /* border: none; */
}

.x10 {

  background: url("../images/multiply-10.png") transparent center no-repeat;
  width: 50px;
  height: 50px;
  /* border: none; */
}

.x50 {

  background: url("../images/multiply-50.png") transparent center no-repeat;
  width: 50px;
  height: 50px;
  /* border: none; */

}

.x100 {

  background: url("../images/multiply-100.png") transparent center no-repeat;
  width: 50px;
  height: 50px;
  /* border: none; */
}

.hide {
  display: none;
}

.hover:hover+.hide {
  display: block;
  color: red;
}

.info-cookies {

  background: #FF0000;
  color: #ffffff;
}



/* MODIFICATION TEXTE COULEURS  */

.text-normal {
  color: #CC0000;
}

.titre {
  color:#363b81;
}

.bg-second {

  background-color: #5db9ff;
  color: white;

}

.no-credit {
  /* background: url("../images/noCredit.png")   ; */
  opacity: 0.4;
}

.store-title {
  color: #FF0000;
}

.small-img {

  width: 48px;
  height: 48px;
}