#cookie-btn {

  /* width: 100%;
  display: block;
  height: 256px;
  background: url("../images/perfectCookie.png");
  background-size: cover;
  cursor: pointer;
  border: none;
  overflow: hidden; */

  width: 100%;
  display: block;
  width: 256px;
  height: 256px;

  background: url("../images/perfectCookie.png");
  background-size: 256px 256px;
  cursor: pointer;
  border: none;
  overflow: hidden;




  /* animation: rotation 4s infinite linear;
}
@keyframes rotation {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(359deg);
 } */
}

#cookie-btn:active {

  -webkit-animation: bounce .1s infinite alternate;
  -moz-animation: bounce .1s infinite alternate;
  animation: bounce .1s infinite alternate;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.15);
  }
}

@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.15);
  }
}

@keyframes bounce {
  to {
    transform: scale(1.15);
  }
}

.bg-main {

  background-color: #8D7E7E;
  color: white;
}

/* .bg-second {

  background-color: #BEA6A6;
  color: white;

} */

.bg-sub-second {

  background-color: #ECD4D4;
  margin: auto;
}

.x2 {

  background: url("../images/multiply-2.png") transparent center no-repeat;

  width: 50px;
  height: 50px;
  /* border: none; */
}

.x10 {

  background: url("../images/multiply-10.png") transparent center no-repeat;
  width: 50px;
  height: 50px;
  /* border: none; */
}

.x50 {

  background: url("../images/multiply-50.png") transparent center no-repeat;
  width: 50px;
  height: 50px;
  /* border: none; */

}

.x100 {

  background: url("../images/multiply-100.png") transparent center no-repeat;
  width: 50px;
  height: 50px;
  /* border: none; */
}

.hide {
  display: none;
}

.hover:hover+.hide {
  display: block;
  color: red;
}

.info-cookies {

  background: #c5b793;
  color: #fbf1d9;
}



/* MODIFICATION TEXTE COULEURS  */

.text-normal {
  color: #a79a79;
}

.titre {
  color:#c5b793;
}

.bg-second {

  background-color: #fff9e9;
  color: #8c7f5d;

}
